<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" href="{{ static_url('favicon.ico') }}" />
    <link href="{{ static_url('css/bootstrap.min.css') }}" rel="stylesheet" />
    <script src="{{ static_url('js/jquery.min.js') }}"></script>
    <script src="{{ static_url('js/bootstrap.min.js') }}"></script>
    <title>Docker Registry</title>
    <style>
      table {
        position: relative;
      }
      table::after {
        content: ' ';
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.3);
        bottom: 0;
        right: 0;
        z-index: 10;
        display: none;
      }
      tfoot {
        background-color: #f9f9f9;
        color: #666;
      }
      .d-search {
        position: absolute;
        right: 0;
        top: 0px;
        width: 200px;
      }
      .container {
        position: relative;
      }
      #user {
        position: absolute;
        right: 30px;
        top: 7px;
      }
      .d-footer {
        position: relative;
        padding: 15px !important;
      }
      .d-page {
        position: absolute;
        right: 26px;
        top: -12px;
      }
    </style>
  </head>
  <body>
    <div id="app" class="container">
      <ol class="breadcrumb">
        <li class="active">Home</li>
      </ol>
      <div class="dropdown" id="user">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          {{ user }} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li><a href="/logout">退出</a></li>
        </ul>
      </div>
      <div class="page-header">
        <h2>Docker Registry & K8S</h2>
      </div>
      <table class="table table-striped table-bordered">
        <caption>
          Registories For
          <b>{{ registry }}</b>
          <div class="d-search">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                id="txtKeyword"
                placeholder="输入关键字"
              />
              <div class="input-group-addon btn" id="btnSearch">搜索</div>
            </div>
          </div>
        </caption>
        <thead>
          <tr>
            <th>Registory</th>
            <th>Tag Count</th>
            <th>Last Tag</th>
            <th>Last Update</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for image in list %}
          <tr data-image="{{ image }}">
            <td>
              <a href="/image/{{ image }}">{{ image }}</a>
            </td>
            <td>{{ list[image]['count'] }}</td>
            <td>{{ list[image]['tag'] }}</td>
            <td>{{ list[image]['time'] }}</td>
            <td>
              {% if delete %}
              <a href="#" class="btn btn-danger btn-xs b-delete">删除</a>
              {% end %}
            </td>
          </tr>
          {% end %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="5" class="d-footer">
              共 <b>{{ total }}</b> 条记录
              <nav aria-label="Page navigation" class="d-page">
                <ul class="pagination">
                  {% if currentPage > 1 %}
                  <li>
                    <a
                      href="/?page={{ currentPage - 1 }}&size={{ size }}&key={{
                        key
                      }}"
                      aria-label="上一页"
                    >
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  {% else %}
                  <li class="disabled">
                    <a href="javascript:void(0)" aria-label="上一页">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  {% end %} {% for i in range(pages) %} {% if currentPage == i+1
                  %}
                  <li class="active">
                    <a href="javascript:void(0)">{{ i + 1 }}</a>
                  </li>
                  {% else %}
                  <li>
                    <a
                      href="/?page={{ i + 1 }}&size={{ size }}&key={{ key }}"
                      >{{ i + 1 }}</a
                    >
                  </li>
                  {% end %} {% end %} {% if currentPage < pages %}
                  <li>
                    <a
                      href="/?page={{ currentPage + 1 }}&size={{ size }}&key={{
                        key
                      }}"
                      aria-label="下一页"
                    >
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                  {% else %}
                  <li class="disabled">
                    <a href="javascript:void(0)" aria-label="下一页">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                  {% end %}
                </ul>
              </nav>
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="msgModal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">消息提醒</h4>
          </div>
          <div class="modal-body">
            <p>One fine body&hellip;</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              取消
            </button>
            <button type="button" class="btn btn-primary" id="submitBtn">
              确定
            </button>
          </div>
        </div>
      </div>
    </div>
    <script>
      ;(function($) {
        var query = (function() {
          var q = [],
            qs = location.search
          if (qs.indexOf('?') >= 0) {
            qs = qs.substring(1)
          }
          if (qs) {
            qs = qs.split('&')
          }
          if (qs.length > 0) {
            for (var i = 0; i < qs.length; i++) {
              var qt = qs[i].split('=')
              q[qt[0]] = decodeURIComponent(qt[1])
            }
          }
          return q
        })()
        var search = function() {
          var key = encodeURIComponent(input.value)
          var url = '/?key=' + key
          if (query.size > 0) {
            url += '&size=' + query.size
          }
          location.href = url
        }
        var input = document.getElementById('txtKeyword')
        var btn = document.getElementById('btnSearch')
        if (query.key) {
          input.value = decodeURIComponent(query.key)
        }
        btn.onclick = function(e) {
          search()
        }
        input.onkeypress = function(e) {
          if (e.keyCode !== 13) return
          search()
        }
        var $modal = $('#msgModal')
        $(document).delegate('.b-delete', 'click', function() {
          var $tr = $(this).parents('tr'),
            image = $tr.data('image')
          $modal
            .find('.modal-body p')
            .html('确认要删除镜像' + image + ',以及所有的Tags吗？')
          $modal.modal()
          $modal
            .find('#submitBtn')
            .unbind('click')
            .bind('click', function() {
              var $t = $(this)
              $t.attr('disabled', 'disabled')
                .addClass('disabled')
                .html('删除中...')
              $.ajax({
                url: '/api/image/' + image,
                type: 'delete',
                dataType: 'json',
                success: function(json) {
                  console.log(json)
                  if (!json.status) {
                    alert('删除失败！' + json.message)
                    return
                  }
                  alert('删除成功！')
                  location.reload(true)
                },
                error: function(json) {
                  alert(json.responseJSON.message || '删除失败')
                },
                complete: function() {
                  $t.removeAttr('disabled')
                    .removeClass('disabled')
                    .html('确认')
                }
              })
            })
          return false
        })
      })(jQuery)
    </script>
  </body>
</html>
